<% if @names %>
<h1> My name is <%= @names %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="namey">
  <input type="submit" value="Submit">
</form>
<div style='border: 4px dashed green'>
<img src='http://bit.ly/1eze8aE'>
</div>
